<div class="span8">
  <h1 class="page-title">
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}
  </h1>

  {{ content }}
</div>

<div class="span4 hidden-phone">
  <div class="followers clearfix">
    <div class="side-title">Seattle Node Followers</div>
    <div class="side-explain">
      Follow and watch our
      <a class="watch" href="http://github.com/{{site.author.github}}/{{site.author.repo}}">GitHub repository</a>
      for the latest updates!
    </div>
    <div class="side-content"></div>
  </div>

  <div class="tweets clearfix">
    <div class="side-title">
      Seattle Node on Twitter (<a
        href="https://twitter.com/search/realtime?q={{site.author.hashtag}}"
        >@{{site.author.twitter}}</a>)
    </div>
    <div class="side-content">
      <!-- @SeattleNode Tweets
      <a class="twitter-timeline"
         href="https://twitter.com/SeattleNode"
         data-widget-id="352113449993641985">Tweets by @SeattleNode</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      -->

      <!-- SeattleNode Search -->
      <a class="twitter-timeline"
         href="https://twitter.com/search?q=SeattleNode"
         data-widget-id="352114774647111680">Tweets about "SeattleNode"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
  </div>
</div>
