{% assign post = page %}

<div class="span12 post-full">
  <h1 class="title">
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% if post.tagline %} <small>{{ post.tagline }}</small>{% endif %}
  </h1>

  <div class="date">
    <span>{{ post.date | date_to_long_string }}</strong>
  </div>
  <div class="content">
    {{ content }}
  </div>

{% comment %}
{% unless post.categories == empty %}
  <ul class="tag_box inline">
    <li><i class="icon-folder-open"></i></li>
    {% assign categories_list = post.categories %}
    {% include JB/categories_list %}
  </ul>
{% endunless %}
{% endcomment %}

{% unless post.tags == empty %}
  <ul class="tag_box inline">
    <li><i class="icon-tags"></i></li>
    {% assign tags_list = post.tags %}
    {% include JB/tags_list %}
  </ul>
{% endunless %}

  <hr>
  <div class="pagination">
    <ul>
    {% if post.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ post.previous.url }}" title="{{ post.previous.title }}">&larr; Previous</a></li>
    {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Posts</a></li>
    {% if post.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ post.next.url }}" title="{{ post.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
    {% endif %}
    </ul>
  </div>
  <hr>
  {% include JB/comments %}
</div>